:root {
  --primary: #111344;
  --secondary: #52154E;
  --tertiary: #F9CFF2;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  background-color: var(--tertiary);
  color:white;
  text-align: center;
}
code {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
h1.headername {
text-align: left;
padding-left: 50px;
padding-bottom: 20px;
color: var(--tertiary);
}

header {
  background-color: var(--secondary);
  text-decoration: none;
}
h2.name {
padding-top: 2px;
text-align: left;
font-style: bold;
padding-left: 100px;
color: var(--tertiary);
}
a {
  font-size: large;

}
 ul.navbar > li{
list-style: none;
padding-top: 20px;
}
nav.a {
  text-decoration: none;
}
nav.nav {
  justify-content:right ;
  text-decoration: none;
  padding-top: 5px;
}
nav {
  display: flex;
  justify-content: right;
  text-decoration: none;
}
nav a:hover {
  color: var(--tertiary);
  text-decoration: none;
}

a:hover, a:visited, a:link, a:active
{
  color: var(--tertiary);
    text-decoration: none;
}

/* AboutMe */
h1#about {
padding-bottom: 30px;
color:var(--primary);
font-style:italic;
text-align: center;
align-content: center;
}

.my-2 {
display: flex;
flex:space-between;
justify-content: center;
}


h2 {
  text-align: center;
  font-style: italic;
}
h1{
  color: var(--primary);
}
h2, p , h3{
  color: var(--primary);
 text-align: center;
 font-style: italic; 
 width: 100%;
 padding: 20px;
 
}
p{
  color:white;
  background-color: var(--secondary);
  border-radius: 13px;
  width: 100%;
  align-items: center;
  margin-left: 355px;
}

img.rounded-circle {
border:  16px var(--secondary);
width: 200px;
padding-bottom: 15px;
}

.container{
  align-items: center;
  padding-bottom: 30px;

}

img {
width: 200px;
height: 200px;
border: 10px solid var(--secondary);
border-radius: 15px;
}


/* Contact Form */

section {
  padding: 30px;
  text-align: center;

}

form {
  width: 100%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--secondary);
  outline: none;
  border-radius: 10px;
  
}
textarea {
  padding-top: 5px;
  border-radius: 10px;
  width: 500px;
  height: 150px;
  padding: 5px;
  color: var(--secondary);
}

button {
    background: var(--primary);
    border-radius: 15px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
    padding: 10px 15px;
  }
  label {
color: var(--primary);
font-weight: bold;
font-size: 18px;
padding: 5px;

  }

/* Footer */
footer {
  background-color: var(--secondary);
  text-align: center;
}

h2.title {
  color:var(--tertiary);
}